-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "Session" (
    "id" TEXT NOT NULL,
    "shop" TEXT NOT NULL,
    "state" TEXT NOT NULL,
    "isOnline" BOOLEAN NOT NULL DEFAULT false,
    "scope" TEXT,
    "expires" TIMESTAMP(3),
    "accessToken" TEXT NOT NULL,
    "userId" BIGINT,
    "firstName" TEXT,
    "lastName" TEXT,
    "email" TEXT,
    "accountOwner" BOOLEAN NOT NULL DEFAULT false,
    "locale" TEXT,
    "collaborator" BOOLEAN DEFAULT false,
    "emailVerified" BOOLEAN DEFAULT false,
    "refreshToken" TEXT,
    "refreshTokenExpires" TIMESTAMP(3),

    CONSTRAINT "Session_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Brand" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "umamiWebsiteUuid" TEXT NOT NULL,
    "domains" TEXT NOT NULL,
    "defaultCurrency" TEXT NOT NULL DEFAULT 'USD',
    "enabled" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Brand_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ShopConfig" (
    "id" TEXT NOT NULL,
    "shopifyShop" TEXT NOT NULL,
    "brandId" TEXT NOT NULL,
    "umamiEndpoint" TEXT NOT NULL DEFAULT 'https://umami.seleric.cloud/api/send',
    "dataWebsiteId" TEXT,
    "pixelEnabled" BOOLEAN NOT NULL DEFAULT true,
    "webhookEnabled" BOOLEAN NOT NULL DEFAULT true,
    "consentMode" TEXT NOT NULL DEFAULT 'relaxed',
    "requireConsent" BOOLEAN NOT NULL DEFAULT false,
    "providerSettings" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ShopConfig_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EventReceived" (
    "id" TEXT NOT NULL,
    "shopConfigId" TEXT NOT NULL,
    "eventKey" TEXT NOT NULL,
    "eventType" TEXT NOT NULL,
    "eventSource" TEXT NOT NULL,
    "shopifyOrderId" TEXT,
    "shopifyCheckoutId" TEXT,
    "eventName" TEXT NOT NULL,
    "eventData" TEXT NOT NULL,
    "processedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "forwardedToUmami" BOOLEAN NOT NULL DEFAULT false,
    "umamiResponse" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "EventReceived_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Attribution" (
    "id" TEXT NOT NULL,
    "shopConfigId" TEXT NOT NULL,
    "sessionId" TEXT,
    "customerHash" TEXT,
    "orderId" TEXT,
    "utmSource" TEXT,
    "utmMedium" TEXT,
    "utmCampaign" TEXT,
    "utmTerm" TEXT,
    "utmContent" TEXT,
    "firstTouch" BOOLEAN NOT NULL DEFAULT false,
    "landingPage" TEXT,
    "referrer" TEXT,
    "capturedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Attribution_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProviderConnector" (
    "id" TEXT NOT NULL,
    "shopifyShop" TEXT NOT NULL,
    "providerName" TEXT NOT NULL,
    "enabled" BOOLEAN NOT NULL DEFAULT false,
    "webhookSecret" TEXT,
    "apiKey" TEXT,
    "config" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ProviderConnector_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "HealthLog" (
    "id" TEXT NOT NULL,
    "shopifyShop" TEXT NOT NULL,
    "component" TEXT NOT NULL,
    "status" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "details" TEXT,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "HealthLog_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "Session_shop_idx" ON "Session"("shop");

-- CreateIndex
CREATE UNIQUE INDEX "Brand_umamiWebsiteUuid_key" ON "Brand"("umamiWebsiteUuid");

-- CreateIndex
CREATE UNIQUE INDEX "ShopConfig_shopifyShop_key" ON "ShopConfig"("shopifyShop");

-- CreateIndex
CREATE INDEX "EventReceived_shopConfigId_eventType_idx" ON "EventReceived"("shopConfigId", "eventType");

-- CreateIndex
CREATE INDEX "EventReceived_shopifyOrderId_idx" ON "EventReceived"("shopifyOrderId");

-- CreateIndex
CREATE INDEX "EventReceived_processedAt_idx" ON "EventReceived"("processedAt");

-- CreateIndex
CREATE UNIQUE INDEX "EventReceived_eventKey_key" ON "EventReceived"("eventKey");

-- CreateIndex
CREATE INDEX "Attribution_customerHash_idx" ON "Attribution"("customerHash");

-- CreateIndex
CREATE INDEX "Attribution_orderId_idx" ON "Attribution"("orderId");

-- CreateIndex
CREATE INDEX "Attribution_sessionId_idx" ON "Attribution"("sessionId");

-- CreateIndex
CREATE UNIQUE INDEX "ProviderConnector_shopifyShop_providerName_key" ON "ProviderConnector"("shopifyShop", "providerName");

-- CreateIndex
CREATE INDEX "HealthLog_shopifyShop_timestamp_idx" ON "HealthLog"("shopifyShop", "timestamp");

-- CreateIndex
CREATE INDEX "HealthLog_component_status_idx" ON "HealthLog"("component", "status");

-- AddForeignKey
ALTER TABLE "ShopConfig" ADD CONSTRAINT "ShopConfig_brandId_fkey" FOREIGN KEY ("brandId") REFERENCES "Brand"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EventReceived" ADD CONSTRAINT "EventReceived_shopConfigId_fkey" FOREIGN KEY ("shopConfigId") REFERENCES "ShopConfig"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Attribution" ADD CONSTRAINT "Attribution_shopConfigId_fkey" FOREIGN KEY ("shopConfigId") REFERENCES "ShopConfig"("id") ON DELETE CASCADE ON UPDATE CASCADE;

